@charset "utf-8";
/* Nudge Minimal */

.pushy{
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #222;
    font-size: 10px;
	font-family: 'myriad-pro', Arial, Helvetica, sans-serif;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow:auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

.pushy a{
    display: block;
    color: #888;
    padding: 2px 2px;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    text-decoration: none;
}

.pushy a:hover{
    color: #fefefe;
}

/* Menu Button */
.menu-btn{
	width: 100px;
	padding: 10px;
	margin-bottom: 30px;
	background: #000;
	color: #FFF;
	text-align: center;
        font-size: 0.7em;
	border: 0;
}

.btn:hover{
	background: #00b4ff;
	color: #FFF;
}


.btn, .btn-default{
	width: 100px;
	padding: 10px;
	margin-bottom: 30px;
	background: #000;
	color: #FFF;
	text-align: center;
	border: 0;
}

.menu-btn:hover{
	background: #00b4ff;
	color: #FFF;
}

/* Menu Movement */

.pushy-left{
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-transform: translate3d(-600px,0,0);
    -moz-transform: translate3d(-600px,0,0);
    -ms-transform: translate3d(-600px,0,0);
    -o-transform: translate3d(-600px,0,0);
    transform: translate3d(-600px,0,0);
}


.pushy-open{
    -webkit-transform: translate3d(-50px,0,0);
    -moz-transform: translate3d(-50px,0,0);
    -ms-transform: translate3d(-50px,0,0);
    -o-transform: translate3d(-50px,0,0);
    transform: translate3d(-50px,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(150px,0,0);
    -moz-transform: translate3d(150px,0,0);
    -ms-transform: translate3d(150px,0,0);
    -o-transform: translate3d(150px,0,0);
    transform: translate3d(150px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
  /*  display: none; */
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade 500ms; 
    -moz-animation: fade 500ms; 
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Example Media Query */

@media screen and (max-width: 768px){
    .pushy{
        font-size: 1.0em;
    }
}
