
html, body {

    font-size: 18px;
    
}


.section {
    padding-top: 1.25em;
    padding-bottom: 2em;
}

.figure {

    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em; 0.5em; 1.5em; 0.5em
}

.caption {
    font-size: 16px;
    text-align: right;
    padding: 0.25em; 0em; 0em; 0.1em;
}


blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  border-left: 5px solid #eee;
}

.tocify {
    font-size: 12px;
}


@media (max-width: 767px) {
    
  html, body{
      font-size: 16px;
  }

  .sourceCode pre {
      font-size: 60%;
  }

  .listing pre {
      font-size: 60%;
  }


  .caption {
    font-size: 14px;
}

  
  blockquote {
  font-size: 14px;
  }
}