
html, body {

    font-family: 'ff-tisa-web-pro', Georgia, 'Times New Roman', Times, Serif;
    font-size: 1.05em;
    line-height: 1.6em;    
    color: #333333;
}

h1, h2, h3, h4, h5 {
	font-family: 'ff-tisa-web-pro', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2, h3 {
	text-transform: lowercase;
	font-family: 'ff-meta-serif-sc-web-pro', 'Trebuchet MS', 'Helvetica Neue', Tahoma;
	font-style: normal;
}

.section {
    padding-top: 1.25em;
    padding-bottom: 2em;
}

.figure {

    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em; 0.5em; 1.5em; 0.5em
}

.caption {
    font-size: 14px;
    text-align: right;
    padding: 0.25em; 0em; 0em; 0.1em;
}


blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #eee;
}

.tocify {
    font-size: 12px;
}

@media (max-width: 767px) {
    
  html, body{
      font-size: 1em;           
  }


  
  .container-fluid {
      padding-left: 1px;
      padding-right: 2px;
  }


  .sourceCode pre {
      font-size: 60%;
  }

  .listing pre {
      font-size: 60%;
  }

  .figure {

      border: thin silver solid;
      margin: 0.2em;
      padding: 0.15em; 0.15em; 1em; 0.15em;
  }
  
  .caption {
    font-size: 14px;
}
  
  
  blockquote {
  font-size: 14px;
  }
}