.section {
    padding-top: 1.25em;
    padding-bottom: 2em;
}

.figure {

    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em; 0.5em; 1.5em; 0.5em
}

.caption {
    font-size: 1.2em;
    text-align: right;
    padding: 0.25em; 0em; 0em; 0.1em;
}