/* Adjustments to Tufte CSS styles */

body { font-family: "source-sans-pro", Arial, Helvetica, sans-serif;
       background-color: #fefefe; }

html { font-size: 14px; }

@media screen and (max-width: 760px) {
    html { font-size: 11px; }

    h1 { font-weight: 600;
         margin-top: 3rem;
         margin-bottom: 1.15rem;
         font-size: 3rem;
         line-height: 1; }

    h1.title { font-weight: 400;
               font-style: normal;
               margin-top: 4rem;
               margin-bottom: 1rem;
               font-size: 2.6rem;
               line-height: 1; }

    h3.subtitle { font-weight: 400;
                  margin-top: 1rem;
                  margin-bottom: 1rem;
                  font-size: 1.8rem;
                  display: block;
                  line-height: 1; }

    h4.author, h4.date {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 1rem auto;
        line-height: 1;
    }


    h2 { font-weight: 600;
         margin-top: 2.1rem;
         margin-bottom: 0;
         font-size: 1.8rem;
         line-height: 1; }

    h3 { font-weight: 400;
         font-style: normal;
         font-size: 1.5rem;
         margin-top: 2rem;
         margin-bottom: 0;
         line-height: 1; }

    h4 { font-weight: 400;
         font-size: 1rem;
         margin-top: 2rem;
         margin-bottom: 0;
         line-height: 1; }

    subtitle { font-style: italic;
               margin-top: 1rem;
               margin-bottom: 1rem;
               font-size: 1.4rem;
               display: block;
               line-height: 1; }
}


h1 { font-weight: 600;
     margin-top: 3rem;
     margin-bottom: 1.15rem;
     font-size: 3rem;
     line-height: 1; }

h1.title { font-weight: 400;
     font-style: normal;
     margin-top: 3rem;
     margin-bottom: 1rem;
     font-size: 2.6rem;
     line-height: 1; }

h3.subtitle { font-weight: 400;
             margin-top: 1rem;
             margin-bottom: 1rem;
             font-size: 1.8rem;
             display: block;
             line-height: 1; }

h4.author, h4.date {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem auto;
    line-height: 1;
}


h2 { font-weight: 600;
     margin-top: 2.1rem;
     margin-bottom: 0;
     font-size: 1.8rem;
     line-height: 1; }

h3.subtitle { font-weight: 400;
             margin-top: 1rem;
             margin-bottom: 1rem;
             font-size: 1.8rem;
             display: block;
             line-height: 1; }

h4.author, h4.date {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem auto;
    line-height: 1;
}


h2 { font-weight: 600;
     margin-top: 2.1rem;
     margin-bottom: 0;
     font-size: 2.2rem;
     line-height: 1; }

h3 { font-weight: 400;
     font-style: normal;
     font-size: 1.8rem;
     margin-top: 2rem;
     margin-bottom: 0;
     line-height: 1; }

h4 { font-weight: 400;
     font-size: 1.4rem;
     margin-top: 2rem;
     margin-bottom: 0;
     line-height: 1; }

subtitle { font-style: italic;
           margin-top: 1rem;
           margin-bottom: 1rem;
           font-size: 1.4rem;
           display: block;
           line-height: 1; }


.marginnote img {
    padding-bottom: 1em;
}



.code { font-family: 'source-code-pro', 'Inconsolata', 'Menlo', 'Iosevka', 'PragmataPro', monospace;
        color: #222;
        font-size: 1em;
        line-height: 1.6;}

.menu-btn, .btn-default {
	width: 100px;
	padding: 10px;
	margin-bottom: 30px;
	background: #000;
	color: #FFF;
	text-align: center;
        font-size: 0.8em;
	border: 0;
}

.appendix {
    color: #888888;
}
